.peques-wrapper {
  height: calc(100vh - 150px);
  overflow-y: auto;
  padding: 20px;
}

.peque-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
  gap: 20px;
}

/* Responsive para tablets */
@media (max-width: 1024px) {
  .peque-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablets */
  }
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .peque-grid {
    grid-template-columns: 1fr; /* 1 columna en móviles */
  }
}

.peques-wrapper::-webkit-scrollbar {
  width: 8px;
}

.peques-wrapper::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 4px;
}

.peques-wrapper::-webkit-scrollbar-thumb:hover {
  background: #999;
}